body {
    margin: 0;
    padding: 0;
    background-color: #222;
}

.heading {
    padding: 0.5em;
    background-color: #333;
    color: #eee;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}